.mask{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: #000;
	opacity: 0.7;
}

.mask_con{
	width: 100%;
	position: fixed;
	z-index: 20;
	text-align: center;
	top: 18%;
}
.mask_con ul{
	margin-top: 20px;
}
#close{
	width: 60px;
}
#close:hover{
	cursor: pointer;
}
.app{ 
	width: 100%;
	background-image: url(../images/Ahome_bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	position:fixed;
	top: 0px;
	left: 0px;
	z-index: 0;
	
}
.box{
	width: 80%;
	position: absolute;
	top: 100px;
	left: 10%;
	z-index: 1;
	padding-bottom: 100px;
	font-family: myFont;
}
.left{
	float: left;
	width: 26%;
}
.l_plate{
	padding: 25px 0px;
	background-color: #FFF;
}
.l_title{
	text-align: center;
}
.l_title span{
	color: #FFF;
	font-size: 16px;
	background-color: #822828;
	padding: 6px 25%;
}
.other_plate{
	padding-top: 10px;
	padding-left: 18%;
}
.other_plate ul li{
	margin-top: 10px;
	float: left;
	width: 40%;
	text-align: center;
}
.other_plate ul li img{
	width: 65%;
}
.right{
	float: left;
	width: 70%;
	padding: 0px 0px 20px;
	background-color: #FBFBFB;
	margin-left: 3%;
}
.information{
	margin-top: 20px;
}
.right_title{
	width: 257px;
	height: 34px;
	color: #FFF;
	background-image: url(../images/right_title_bg.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	font-size: 16px;
	line-height: 34px;
	padding-left: 10px;

}
.right_main{
	margin: 20px 20px 0px;
	padding: 20px 20px 35px;
	background-color: #FFF;
	font-size: 16px;
	border: 1px solid #e3e3e3;
}
.right_main ul li{
	margin-top: 20px;
}
.information_main ul li{
	float: left;
	width: 33%;
	text-align: center;
}
.information_main ul li img{
	width: 80%;
}
.information_main ul li img:hover{
	cursor: pointer;
}
.item_text{
	display: block;
	width: 80%;
	margin: auto;
	padding: 3px;
	margin-top: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
}